<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="/style.css")
        title People's App
    body
        nav#main-navbar
            a.main-link(href="/") Home
            | &nbsp;&nbsp;&nbsp;&nbsp;
            a.main-link(href="/person") People
            | &nbsp;&nbsp;&nbsp;&nbsp;
            a.main-link(href="/item") Items
        main#main-content
            section#main-section
                h1= title
                if message
                    if hasError
                        p.message.error= message
                    else
                        p.message= message
                block content