* {
    padding: 0;
    margin: 0;
}

a {
    color: blue;
}

body {
    font-family: verdana, Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 1em;
}

#main-navbar {
    margin-bottom: 0.5em;
    padding: .5em 0;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: .3em;
}

.message {
    color: rgb(42, 172, 253);
    margin-bottom: .5em;
    font-weight: bold;
}

.error {
    color: red;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
}

th, td {
    border: 1px solid black;
    padding: .55em;
    margin: 0;
}

td {
    padding: .3em;
}

td.no-content-found {
    text-align: center;
}

td.inputLabel {
    font-weight: bold;
    text-align: right;
}

.create-link, .update-link, .delete-link, .view-items-link, .cancel-link {
    display: inline-block;
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: none;
    margin: .1em 0 .5em 0;
    border: 1px solid blue;
    padding: .2em .3em .3em .3em;
}

.update-link, .delete-link, .view-items-link, .cancel-link {
    font-size: .9em;
    position: relative;
    top: .25em;
}

.create-link:hover, .update-link:hover, .view-items-link:hover, .cancel-link:hover {
    color: white;
    background-color: blue;
}

.cancel-link {
    top: 0;
    margin-bottom: 0;
}

.delete-link {
    border-color: red;
    color: red;
}

.delete-link:hover {
    color: white;
    background-color: red;
}

input, button {
    padding: .2em;
}