extends ../layout 

block content
    form(method="POST", action=`/person/${person._id}/item/create`)
        table
            tr
                td.inputLabel Name:
                td 
                    input(name="name", type="text")
            tr
                td(colspan="2") 
                    button(type="submit") Create
                    | &nbsp;&nbsp;
                    a.cancel-link(href=`/person/${person._id}/item`) Cancel