extends ../layout 

block content
    form(method="POST", action="/person/create")
        table
            tr
                td.inputLabel First Name:
                td 
                    input(name="firstName", type="text")
            tr
                td.inputLabel Last Name:
                td
                    input(name="lastName", type="text")
            tr
                td(colspan="2") 
                    button(type="submit") Create