extends ../layout 

block content
    a.create-link(href='/person/create') Create New Person
    table
        - const headers = [ 'First Name', 'Last Name', 'Items', 'Edit']
        thead
            tr
                each header in headers
                    th= header
        tbody
            if people.length
                each person in people
                    tr
                        td= person.firstName
                        td= person.lastName
                        td.items
                            a.view-items-link(href=`/person/${person._id}/item`) View Items
                        td.edit 
                            a.update-link(href=`/person/update/${person._id}`) Update
                            | &nbsp;&nbsp;
                            a.delete-link(href=`/person/delete/${person._id}`) Delete
            else
                tr
                    td.no-content-found(colspan=headers.length) No People Found