extends ../layout 

block content
    form(method="POST", action=`/person/update/${person._id}`)
        table
            tr
                td.inputLabel First Name:
                td 
                    input(name="firstName", type="text", value=person.firstName)
            tr
                td.inputLabel Last Name:
                td
                    input(name="lastName", type="text", value=person.lastName)
            tr
                td(colspan="2") 
                    button(type="submit") Update