extends ../layout 

block content
    form(method="POST", action=`/person/${item.person._id}/item/update/${item._id}`)
        table
            tr
                td.inputLabel Name:
                td 
                    input(name="name", type="text", value=item.name)
            tr
                td(colspan="2") 
                    button(type="submit") Update
                    | &nbsp;&nbsp;
                    a.cancel-link(href=`/person/${item.person._id}/item`) Cancel