extends ../layout 

block content
    form(method='POST', action='/item/create')
        table
            tr
                td.inputLabel Owner:
                td 
                    select(name='person')
                        each person in people
                            option(value=person._id)= person.fullName
            tr
                td.inputLabel Name:
                td
                    input(name='name', type='text')
            tr
                td(colspan='2') 
                    button(type='submit') Create
                    | &nbsp;&nbsp;
                    a.cancel-link(href=`/item`) Cancel