extends ../layout

block content
    a.create-link(href=`/item/create`) Create New Item
    table#items-table
        - const headers = ['Name', 'Owner', 'Edit']
        thead
            tr
                each header in headers
                    th= header
        tbody
            if items && items.length
                each item in items
                    tr
                        td= item.name
                        td= item.person.fullName
                        td.edit 
                            a.update-link(href=`/item/update/${item._id}`) Update
                            | &nbsp;&nbsp;
                            a.delete-link(href=`/item/delete/${item._id}`) Delete
            else
                tr
                    td.no-content-found(colspan=headers.length) No Items Found