extends ../layout 

block content
    form(method='POST', action=`/item/update/${item._id}`)
        table
            tr
                td.inputLabel Owner:
                td 
                    select(name='person')
                        each person in people
                            option(value=person._id, selected=person._id==item.person._id)= person.fullName
            tr
                td.inputLabel Name:
                td
                    input(name='name', type='text', value=item.name)
            tr
                td(colspan='2') 
                    button(type='submit') Update
                    | &nbsp;&nbsp;
                    a.cancel-link(href=`/item`) Cancel